/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #ebedec;
}

input:focus::-webkit-input-placeholder {
  color: #ebedec;
}

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 15px 0;
}

.row {
  flex-direction: row;
}

.header {
  padding-top: 40px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  background: transparent;
  transition: all 0.3s ease;
}

.top-of-page {
  background: #7eb6ff;
  padding-top: 5px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  z-index: 1;
}

.nav {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  background: #76B2FF;
}
.nav_active {
  bottom: 0;
}

.nav__item {
  text-align: center;
}
.nav__item:last-child {
  margin-bottom: 0;
}

.nav__link {
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  line-height: 2;
  transition: 0.5s ease 0s;
}
.nav__link:hover {
  color: #FFFFFF;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  cursor: pointer;
}

.burger__line {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  position: relative;
}
.burger__line:after, .burger__line:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  transition: all 0.5s ease;
}
.burger__line:after {
  top: -7px;
}
.burger__line:before {
  top: 7px;
}

.close .burger__line {
  background: transparent;
}

.close .burger__line:before {
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  top: 0;
}

.close .burger__line:after {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  top: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 100px 0;
  }

  .header {
    padding-top: 60px;
  }

  .top-of-page {
    padding-top: 0;
  }

  .logo {
    font-size: 48px;
  }

  .nav__list {
    padding: 1px;
  }
}
@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  .nav {
    position: static;
    background: inherit;
  }

  .nav__item {
    display: inline-block;
    box-sizing: border-box;
  }
  .nav__item:nth-child(6) {
    padding-right: 35px;
  }

  .nav__link {
    text-transform: none;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 26px;
  }
  .nav__link:hover {
    background: #FF6422;
  }

  .nav__link_login,
.nav__link_signUp {
    border: 1px solid transparent;
    color: #ffffff;
  }
  .nav__link_login:hover,
.nav__link_signUp:hover {
    border-color: #FE3745;
    background: transparent;
  }
}
@media screen and (max-width: 1110px) {
  .nav__item:nth-child(6) {
    padding-right: 0;
  }

  .nav__link {
    padding: 6px 14px;
  }
}
.info {
  padding: 200px 0 0 0;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  background: url(../images/bg.png) top right/80% 100% no-repeat;
}
.info__left {
  flex-direction: column;
}
.info__headline {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 25px;
}
.info__text {
  line-height: 25px;
  padding-bottom: 40px;
  font-size: 16px;
}
.info__btn {
  display: inline-block;
  background: #FF6422;
  border-radius: 28.0575px;
  padding: 13px 24px;
  color: #F2F2F2;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.5s ease;
  text-align: center;
}
.info__btn:hover {
  background: rgba(255, 100, 34, 0.8);
}
.info__right {
  padding: 50px 0 0 0;
}
.info__img {
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .info {
    min-height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .info__btn {
    font-size: 16px;
  }
  .info__text {
    font-size: 18px;
  }
  .info__headline {
    font-size: 38px;
  }
  .info__text {
    max-width: 600px;
  }
  .info__right {
    padding: 0;
  }

  .column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .info__btn {
    font-size: 18px;
  }
  .info__headline {
    text-align: left;
  }
  .info__text {
    font-size: 24px;
    line-height: 38px;
    text-align: left;
  }
  .info__headline {
    font-size: 48px;
    text-align: left;
  }
  .info__text {
    max-width: 600px;
  }
  .info__left {
    text-align: left;
  }
  .info__right {
    padding: 0;
  }

  .column {
    display: flex;
    flex-direction: row;
  }
}
.cards {
  padding: 70px 0 0 0;
}
.cards__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 0 0 50px 0;
}

.slider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1170px;
}
.slider__item {
  padding: 45px 20px 24px;
  max-width: 330px;
  border: 1px solid #7EB6FF;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  display: flex !important;
  flex-direction: column;
}
.slider__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.slider__subheadline {
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
.slider__text {
  color: #808080;
  line-height: 19px;
  font-size: 12px;
}

.slider__box {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .cards__headline {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    padding: 0 0 70px 0;
  }

  .slider__subheadline {
    font-size: 24px;
    height: 48px;
  }
  .slider__text {
    line-height: 25px;
    font-size: 16px;
  }
}
.slick-list {
  overflow: hidden;
  width: calc(100% - 50px);
  margin: 0 auto;
}

.draggable {
  display: flex;
  align-items: stretch;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.slick-slide {
  display: block;
}

.slick-slide > div {
  height: 100%;
}

.slider {
  position: relative;
  width: 100%;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 18px;
  height: 33px;
  border: none;
}
.slider .prev_arrow {
  font-size: 33px;
  left: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.slider .prev_arrow:hover {
  opacity: 0.7;
}
.slider .next_arrow {
  font-size: 33px;
  right: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.slider .next_arrow:hover {
  opacity: 0.7;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50;
  list-style: none;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #E7E7E7;
  border-radius: 50%;
  border: none;
  outline: none;
}
.slider .slick-dots button:before {
  content: "";
}
.slider .slick-active button {
  background: #7EB6FF;
}
.slider .slick-active button:before {
  content: "";
}

.benefits {
  padding: 100px 0 200px 0;
  position: relative;
}
.benefits__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 0 0 50px 0;
}
.benefits__circle-one {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #6281D0;
  top: 140px;
  left: 50px;
}
.benefits__circle-two {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #6281D0;
  top: 140px;
  right: 74px;
}
.benefits__circle-three {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #A3BCFF;
  top: 110px;
  right: 28px;
}
.benefits__circle-four {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #A3BCFF;
  top: 153px;
  right: 26px;
}
.benefits__circle-five {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #A3BCFF;
  top: 309px;
  right: 70px;
}

.b-slider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1170px;
}
.b-slider__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.b-slider__text {
  font-size: 12px;
  line-height: 150%;
  margin: 0 auto;
}
.b-slider__img {
  display: none;
}
.b-slider__img-small {
  display: block;
  position: absolute;
  width: 250px;
  height: 220px;
  left: -63px;
  bottom: -35px;
}

@media screen and (min-width: 768px) {
  .benefits {
    position: relative;
    padding: 200px 0 0 0;
  }
  .benefits__headline {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    padding: 0 0 100px 0;
  }

  .b-slider__item {
    display: flex !important;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .b-slider__info {
    margin-right: 70px;
  }
  .b-slider__img-small {
    display: none;
  }
  .b-slider__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .b-slider__text {
    max-width: 252px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1240px) {
  .benefits__circle-one {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #BFD0FC;
    top: 740px;
    left: 87px;
  }
  .benefits__circle-two {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #A3BCFF;
    top: 230px;
    right: 407px;
  }
  .benefits__circle-three {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6281D0;
    top: 230px;
    right: 335px;
  }
  .benefits__circle-four {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #A3BCFF;
    top: 270px;
    right: 277px;
  }
  .benefits__circle-five {
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #84A6FD;
    top: 770px;
    left: 153px;
  }
}
.slick-list {
  overflow: hidden;
}

.draggable {
  display: flex;
  align-items: stretch;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.slick-slide {
  display: block;
}
.slick-slide img.b-slider__img-laptop, .slick-slide img.b-slider__img-spot {
  display: none;
}

.slick-slide > div {
  height: 100%;
}

.b-slider {
  position: relative;
  width: 100%;
}
.b-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 18px;
  height: 33px;
  border: none;
}
.b-slider .prev_arrow {
  font-size: 33px;
  left: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.b-slider .prev_arrow:hover {
  opacity: 0.7;
}
.b-slider .next_arrow {
  font-size: 33px;
  right: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.b-slider .next_arrow:hover {
  opacity: 0.7;
}
.b-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -50px;
  list-style: none;
}
.b-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #E7E7E7;
  border-radius: 50%;
  border: none;
  outline: none;
}
.b-slider .slick-dots button:before {
  content: "";
}
.b-slider .slick-active button {
  background: #7EB6FF;
}
.b-slider .slick-active button:before {
  content: "";
}

@media screen and (min-width: 768px) {
  .slick-slide {
    display: block;
  }
  .slick-slide img.b-slider__img-laptop, .slick-slide img.b-slider__img-spot {
    display: inline-block;
    max-width: 100%;
  }
  .slick-slide img.b-slider__img-spot {
    position: absolute;
    z-index: -10;
  }
}
@media screen and (min-width: 992px) {
  .b-slider .slick-dots button {
    width: 20px;
    height: 20px;
  }
  .b-slider .slick-arrow {
    width: 31px;
    height: 56px;
  }
  .b-slider .prev_arrow,
.b-slider .next_arrow {
    font-size: 56px;
    color: #242424;
  }
  .b-slider .slick-active button {
    background: #7EB6FF;
  }
  .b-slider .slick-active button:before {
    content: "";
  }
}
.graph {
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}
.graph__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 20px;
}
.graph__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.graph__img {
  display: block;
  max-width: 330px;
  width: 100%;
}
.graph__subheadline {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.graph__text {
  color: #808080;
  line-height: 19px;
  font-size: 12px;
  padding: 0 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .graph {
    align-items: stretch;
    padding-bottom: 110px;
  }
  .graph__headline {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 50px;
  }
  .graph__subheadline {
    font-size: 36px;
  }
  .graph__text {
    color: #808080;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    max-width: 450px;
  }

  .indent {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .graph .img_two {
    transform: translate(0, 110px);
  }
  .graph__right {
    text-align: left;
  }
  .graph__left {
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: row;
  }
}
.testimonials {
  background: url(../images/bg3.png) center center/cover no-repeat;
  padding: 100px 0 0 0;
}
.testimonials__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 0 0 50px 0;
}

.sliders {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 80vh;
}
.sliders__item {
  padding: 30px 20px 20px;
  max-width: 330px;
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.sliders__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.sliders__item-img {
  display: inline-block;
  border-radius: 50%;
}
.sliders__item-main {
  padding: 20px 0 40px 0;
}
.sliders__item-text {
  font-size: 12px;
  line-height: 150%;
}
.sliders__item-footer {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: auto;
  border-top: 1px solid #000000;
}
.sliders__item-views {
  color: #242424;
}
.sliders__item-views-eye {
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.5;
}
.sliders__item-views-eye:hover {
  color: #FF6422;
  opacity: 1;
}
.sliders__item-views-number {
  opacity: 0.5;
}
.sliders__item-icons {
  color: #242424;
}
.sliders__item-icons-heart {
  margin-right: 13px;
  cursor: pointer;
  opacity: 0.5;
}
.sliders__item-icons-heart:hover {
  color: #FF6422;
  opacity: 1;
}
.sliders__item-icons-arrow {
  cursor: pointer;
  opacity: 0.5;
}
.sliders__item-icons-arrow:hover {
  color: #FF6422;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .sliders__item-header {
    font-size: 18px;
  }
  .sliders__item-text {
    font-size: 16px;
    line-height: 150%;
  }
  .sliders__item-footer {
    font-size: 17px;
  }
  .sliders__item-views-number {
    font-size: 13px;
  }
}
.slick-list {
  overflow: hidden;
}

.draggable {
  display: flex;
  align-items: stretch;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.slick-slide {
  display: block;
}

.slick-slide > div {
  height: 100%;
}

.sliders {
  position: relative;
  width: 100%;
}
.sliders .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 18px;
  height: 33px;
  border: none;
}
.sliders .prev_arrow {
  font-size: 33px;
  left: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.sliders .prev_arrow:hover {
  opacity: 0.7;
}
.sliders .next_arrow {
  font-size: 33px;
  right: 0;
  position: absolute;
  color: #7EB6FF;
  opacity: 0.3;
  z-index: 10;
}
.sliders .next_arrow:hover {
  opacity: 0.7;
}
.sliders .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50;
  list-style: none;
}
.sliders .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #E7E7E7;
  border-radius: 50%;
  border: none;
  outline: none;
}
.sliders .slick-dots button:before {
  content: "";
}
.sliders .slick-active button {
  background: #7EB6FF;
}
.sliders .slick-active button:before {
  content: "";
}

@media screen and (min-width: 992px) {
  .sliders .slick-dots button {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
  }
  .sliders .slick-arrow {
    width: 31px;
    height: 56px;
  }
  .sliders .prev_arrow,
.sliders .next_arrow {
    font-size: 56px;
    color: #242424;
  }
  .sliders .slick-active button {
    background: #7EB6FF;
  }
  .sliders .slick-active button:before {
    content: "";
  }
}
.form {
  padding-top: 50px;
  text-align: center;
  color: #000;
  margin-bottom: 100px;
}
.form__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}
.form__subheadline {
  font-size: 16px;
}
.form__fields {
  display: block;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  border: 1px solid #7EB6FF;
  border-radius: 42px;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  font-size: 13px;
}
.form__email {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px 15px;
  font-size: inherit;
  background: #7EB6FF;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.form__email:-webkit-input-placeholder {
  font-size: inherit;
  color: #fff;
}
.form__btn {
  border: none;
  outline: none;
  background-color: #FFFFFF;
  padding: 7px 40px;
  cursor: pointer;
  color: #000;
  font-size: inherit;
  font-weight: 700;
}

@media screen and (max-width: 411px) {
  .form__btn {
    padding: 7px 20px;
  }
}
@media screen and (min-width: 768px) {
  .form__headline {
    font-size: 36px;
    padding-bottom: 15px;
  }
  .form__subheadline {
    font-size: 24px;
  }
  .form__fields {
    font-size: 20px;
    margin-top: 50px;
  }
  .form__email {
    padding: 10px 20px;
  }
  .form__btn {
    padding: 10px 60px;
    transition: all 0.5s ease;
  }
  .form__btn:hover {
    background: #7eb6ff;
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .form__fields {
    font-size: 24px;
  }
  .form__email {
    padding: 14px 30px;
  }
  .form__btn {
    padding: 14px 74px;
  }
}
.ww {
  min-height: 100vh;
}

.footer {
  background: url(../images/bg-footer.png) center top/cover no-repeat;
  color: #FFFFFF;
  padding: 90px 0 50px;
  font-size: 9px;
}
.footer__logo {
  font-size: 16px;
  margin-bottom: 15px;
  color: #000000;
}
.footer__socials {
  display: flex;
}
.footer__socials-link {
  display: inline-block;
}
.footer__socials-icon {
  display: block;
  font-size: 10px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-right: 17px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-link {
  padding-bottom: 11px;
}
.footer__contact-link:last-child {
  padding: 0;
}
.footer__contact-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-right: 10px;
}
.footer__contact-tel {
  color: #fff;
}
.footer__contact-adress {
  color: #fff;
}
.footer__contact-title {
  display: block;
  padding-bottom: 13px;
}
.footer__signup {
  display: none;
}
.footer__socials-big {
  display: none;
}
.footer__links {
  margin: 0 17px 0 30px;
  display: flex;
  justify-content: space-around;
}
.footer__list {
  margin-right: 20px;
  justify-content: space-around;
}
.footer__list:last-child {
  margin: 0;
}
.footer__list-item {
  padding-bottom: 11px;
}
.footer__list-item:last-child {
  padding: 0;
}
.footer__list-link {
  display: block;
  color: #fff;
}

.wrapper-indent {
  flex-direction: row;
}

@media screen and (max-width: 411px) {
  .footer__list {
    margin-right: 5px;
  }
  .footer__links {
    margin: 0 5px 0 10px;
  }
  .footer__contact-icon {
    padding-right: 0;
  }

  .wrapper {
    padding: 0 5px 0;
  }
}
@media screen and (min-width: 411px) and (max-width: 516px) {
  .footer {
    font-size: 13px;
  }
  .footer__socials-icon {
    font-size: 15px;
  }
  .footer__contact-icon {
    padding-right: 0;
  }
  .footer__logo {
    font-size: 18px;
  }

  .wrapper {
    padding: 0 5px 0;
  }
}
@media screen and (min-width: 516px) {
  .footer {
    font-size: 15px;
    padding: 120px 0 50px;
  }
  .footer__socials-icon {
    font-size: 16px;
  }
  .footer__logo {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    padding: 220px 60px 80px;
  }
  .footer__logo {
    font-size: 30px;
  }

  .wrapper {
    padding: 0 5px 0;
  }
}
@media screen and (min-width: 992px) {
  .footer__socials-big {
    display: block;
  }
  .footer__signup {
    display: block;
  }
  .footer__contact-icon {
    width: 20px;
    height: 20px;
  }
  .footer__signup-link {
    display: inline-block;
    color: #fff;
    border: 1px solid #FF6422;
    border-radius: 26px;
    padding: 7px 16px;
    transition: all 0.5s ease;
  }
  .footer__signup-link:hover {
    background: #FF6422;
  }
  .footer__socials-big-link {
    display: inline-block;
    padding-right: 23px;
  }
  .footer__socials-big-link:last-child {
    padding: 0;
  }
  .footer__socials {
    display: none;
  }
  .footer__socials-big-icon {
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .footer__socials-big-icon:hover {
    color: #FF6422;
    opacity: 0.9;
  }

  .signup-link_login {
    padding: 7px 23px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .footer__socials-big-link {
    padding-right: 25px;
  }
  .footer__list {
    margin: 0 68px 0 200px;
  }
  .footer__list-item {
    padding-bottom: 25px;
  }
  .footer__list-item:last-child {
    padding: 0;
  }
  .footer__contact-link {
    padding-bottom: 25px;
  }
  .footer__contact-link:last-child {
    padding: 0;
  }
  .footer__contact-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
  .footer__contact-title {
    display: block;
    padding-bottom: 25px;
  }
  .footer__signup-link {
    margin-right: 9px;
  }
  .footer__signup-link:last-child {
    margin: 0;
  }
}