/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:980px;
}
.bg-white{
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 4;
	background-color: #ffffff;
}
#content{
	float: right;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	width: 697px;
	margin: 21px 0 59px 0;
	padding-right: 24px;
}
header {
	background-color: #30393f;
	box-sizing: border-box;
	height: 72px;
	width:100%;
	display:block;
	position:relative;
	padding: 20px 0px 0px 0px;
	overflow: hidden;
}
main {
	display:block;
	width:100%;
	position:relative;
	overflow: hidden;
	background-color: #e7e3e8;
	z-index: 3;
}
footer {
	display:block;
	width:100%;
	margin:0 0 0;
	padding:0 0 0;
	overflow: hidden;
}
