.dishes{
  display: block;
  position: relative;
  h2{
    text-align: center;
    @include headline-font;
    color: $color-black;
    position: relative;
    &:after{
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      margin: 12px 0 20px -50px;
    	height: 5px;
    	width: 100px;
    	background-color: $color-rose;
    }
  }
  .second-hd{
    text-align: center;
    margin-top: 38px;
    line-height: normal;
    color: #696969;
  }
  .steak{
    z-index: -1;
    position: absolute;
    max-width: 880px;
    max-height: 747px;
    right: -75px;
    top: 40px;
    opacity: 0.5;

  }
  .block{
    position: relative;
    width: 100%;
    max-height: 760px;
    ul{
      position: relative;
      margin-top: 110px;
      @media (max-width: 1023px){
        margin-top: 50px;
      }
      .one{
        display: block;
        line-height: normal;
        margin: 20px 0 0 0px;
        width: 550px;
        position: relative;
        left: 13%;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          width: 80px;
          height: 80px;
          background: url(../images/title1.png) no-repeat;
        }
        @media (max-width: 1279px){
          margin: 0 auto 100px;
          left: auto;
        }
        @media (max-width: 767px) and (min-width: 481px){
          width: 450px;
        }
        @media (max-width: 480px) and (min-width: 320px){
          width: 320px;
          margin-bottom: 30px;
        }
        h3{
          @include OS-bold;
          color: $color-black;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        p{
          margin-top: 13px;
          @include MP-regular;
          color: #494949;
          position: relative;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        &:hover{
  				@include transition($time);
  				@include transform($argument)
  			}
      }
      .two{
        line-height: normal;
        margin: 50px 0 0 0;
        width: 550px;
        position: relative;
        left: 10%;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          width: 80px;
          height: 80px;
          background: url(../images/title2.png) no-repeat;
        }
        @media (max-width: 1279px){
          margin: 0 auto 100px;
          left: auto;
        }
        @media (max-width: 767px) and (min-width: 481px){
          width: 450px;
        }
        @media (max-width: 480px) and (min-width: 320px){
          width: 320px;
          margin-bottom: 30px;
        }
        h3{
          @include OS-bold;
          color: $color-black;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        p{
          @include MP-regular;
          color: #494949;
          margin-top: 13px;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        &:hover{
  				@include transition($time);
  				@include transform($argument)
  			}
      }
      .three{
        line-height: normal;
        margin: 70px 0 130px 0;
        width: 550px;
        position: relative;
        left: 14%;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          width: 80px;
          height: 80px;
          background: url(../images/title3.png) no-repeat;
        }
        @media (max-width: 1279px){
          margin: 0 auto 100px;
          left: auto;
        }
        @media (max-width: 767px) and (min-width: 481px){
          width: 450px;
        }
        @media (max-width: 480px) and (min-width: 320px){
          width: 320px;
          margin-bottom: 30px;
        }
        h3{
          @include OS-bold;
          color: $color-black;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        p{
          @include MP-regular;
          color: #494949;
          margin-top: 13px;
          padding: 0 0 0 100px;
          @media (max-width: 480px) and (min-width: 320px){
            font-size: 17px;
          }
        }
        &:hover{
  				@include transition($time);
  				@include transform($argument)
  			}
      }
        .four{
          // margin: 123px 0 0 422px;
          line-height: normal;
          margin: 0 0 140px 250px;
          width: 550px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            left: 0;
            width: 80px;
            height: 80px;
            background: url(../images/title4.png) no-repeat;
          }
          @media (max-width: 1279px){
            margin: 0 auto 100px;
            left: auto;
          }
          @media (max-width: 767px) and (min-width: 481px){
            width: 450px;
          }
          @media (max-width: 480px) and (min-width: 320px){
            width: 320px;
            margin-bottom: 30px;
          }
          h3{
            @include OS-bold;
            color: $color-black;
            padding: 0 0 0 100px;
            @media (max-width: 480px) and (min-width: 320px){
              font-size: 17px;
            }
          }
          p{
            @include MP-regular;
            color: #494949;
            margin-top: 13px;
            padding: 0 0 0 100px;
            @media (max-width: 480px) and (min-width: 320px){
              font-size: 17px;
            }
          }
          &:hover{
            @include transition($time);
            @include transform($argument)
          }
        }
      }
    }
  }
