.cards {
	padding: 70px 0 0 0;
  &__headline{
    @include fontHeadline;
    padding: 0 0 50px 0;
  }
}
.slider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	max-width: 1170px;
	&__item {
		padding: 45px 20px 24px;
		max-width: 330px;
		border: 1px solid #7EB6FF;
		box-sizing: border-box;
		margin: 0 auto;
		height: 100%;
		display: flex !important;
		flex-direction: column;
		// justify-content: space-between;
	}
	&__img {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		// max-width: 100%;
	}
	&__subheadline {
		height: 32px;
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 15px;
		line-height: 25px;
		text-align: center;
		vertical-align:middle;
	}
	&__text {
		color: $colorgray;
		line-height: 19px;
		font-size: 12px;
	}
}
.slider__box {
	height: 100%
}
@media screen and (min-width: 768px){
	.cards {
		&__headline{
			@include fontHeadlineBig;
			padding: 0 0 70px 0;
		}
	}
	.slider {
		&__subheadline {
			font-size: 24px;
			height: 48px;
		}
		&__text {
			line-height: 25px;
			font-size: 16px;
		}
	}
}
// @media screen and (min-width: 992px) {
// 	.slider {
// 		&__item {
// 		}
// 	}
// }
