.form {
	padding-top: 50px;
	text-align: center;
	color: #000;
	display: flex;
	justify-content: center;
	&__headline {
		@include fontHeadline;
		padding-bottom: 10px;
	}
	&__subheadline {
		font-size: 16px;
	}
	&__fields {
		box-sizing: border-box;
		// width: 320px;
		// height: 34px;
		margin-top: 30px;
	}
	&__email {
		width: 320px;
		height: 34px;
		border: 0.4px solid #7EB6FF;
		box-sizing: border-box;
		border-radius: 21px;
		padding-left: 16px;
		align-self: center;
		background: #7EB6FF;
		&:hover {
			border: 1px solid #FF6422;
			transition: 0.3s;
		}
		&:-webkit-input-placeholder {
			font-size: 12px;
		}
	}
	&__btn{
		position: absolute;
		box-sizing: border-box;
		border: 0.4px solid #7EB6FF;
		background-color: #FFFFFF;
		width: 132px;
		height: 34px;
		cursor: pointer;
		color: #000;
		margin-left: -122px;
		border-radius: 0 21px 21px 0;
		opacity: 1;
		&:hover {
			border: 1px solid #FF6422;
			transition: 0.3s;
		}
  }
}
@media screen and (min-width: 768px) {
	.form {
		&__headline {
			font-size: 36px;
			padding-bottom: 15px;
		}
		&__subheadline {
			font-size: 24px;
		}
		&__fields {
			box-sizing: border-box;
			width: 640px;
			height: 66px;
			margin-top: 50px;
		}
		&__email {
			width: 640px;
			height: 66px;
			border-radius: 41px;
			padding-left: 30px;
			&::-webkit-input-placeholder {
				font-size: 24px;
				padding: 8px 0 0 0;
			}
		}
		&__btn {
			width: 238px;
			height: 66px;
			margin-left: -238px;
			border-radius: 0 41px 41px 0;
			font-size: 24px;
			font-weight: bold;
			color: #000;
		}
	}
}
.ww {
	min-height: 100vh;
}
