
.form {
	padding-top: 50px;
	text-align: center;
	color: #000;
	margin-bottom: 100px;
	&__headline {
		@include fontHeadline;
		padding-bottom: 10px;
	}
	&__subheadline {
		font-size: 16px;
	}
	&__fields {
		display: block;
		margin: 0 auto;
		max-width: 640px;
		width: 100%;
		border: 1px solid #7EB6FF;;
		border-radius: 42px;
		margin-top: 30px;
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		font-size: 13px;
	}
	&__email {
		box-sizing: border-box;
		margin: 0;
		border: none;
		outline: none;
		border-radius: 42px 0 0 42px;
		flex: 1;
		padding: 5px 15px;
		font-size: 13px;
		background: #7EB6FF;
		color: #fff;
		-webkit-appearance: none;
    appearance: none;
		&:-webkit-input-placeholder {
			font-size: 13px;
  		color: #fff;
		}
	}
	&__btn{
		border: none;
  	outline: none;
		border-radius: 0 42px 42px 0;
		background-color: #FFFFFF;
		padding: 7px 40px;
		cursor: pointer;
		color: #000;
		font-size: 13px;
		font-weight: 700;
		-webkit-appearance: none;
    appearance: none;
  }
}
@media screen and (max-width: 411px) {
	.form {
		&__btn {
			padding: 7px 20px;
		}
	}
}
@media screen and (min-width: 768px) {
	.form {
		&__headline {
			font-size: 36px;
			padding-bottom: 15px;
		}
		&__subheadline {
			font-size: 24px;
		}
		&__fields {
			font-size: 20px;
			margin-top: 50px;
		}
		&__email {
			padding: 10px 20px;
		}
		&__btn {
			padding: 10px 60px;
			transition: all 0.5s ease;
			&:hover {
				background: #7eb6ff;
				color: #fff;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.form {
		&__fields {
			font-size: 24px;
		}
		&__email {
			padding: 14px 30px;
		}
		&__btn {
			padding: 14px 74px;
		}
	}
}
.ww {
	min-height: 100vh;
}
