.info{
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  flex-flow: row wrap;
	align-items: stretch;
	padding: 22px 30px 0;
	background: #fff;
	&__item{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		// padding: 45px 30px 0;
	}
	&__title{
		color: $darkblue;
		font-weight: 700;
		font-size: 18px;
	}
	&__text{
		color: rgba(34, 53, 111, 0.5);
		margin-top: 18px;
		line-height: 1.4;
	}
}
@media screen and (min-width: 550px){
	.info{
		padding: 0;
		&__item{
			width: 50%;
			padding: 25px 47px 15px 45px;
			margin-bottom: 0;
		}
		&__title{
			font-size: 20px;
		}
		&__text{
			margin-top: 20px;
		}
	}
}
@media screen and (min-width: 768px){
	.info{
		&__item{
			padding: 50px 72px 32px 100px;
		}
		&__title{
			font-size: 24px;
		}
		&__text{
			margin-top: 24px;
		}
	}
}
@media screen and (min-width: 992px){
	.info{
		&__item{
			width: 33.3333333%;
			padding: 55px 77px 37px 105px;
		}
		&__title{
			font-size: 28px;
		}
		&__text{
			margin-top: 28px;
		}
	}
}
