aside{
	float: left;
	padding: 19px 27px 27px 22px;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	width: 211px;
}
aside .contacts{
	display: block;
	overflow: hidden;
	width: 213px;
	height: 408px;
	border: 1px solid #dadde0;
	background-color: #f3f3f3;
	margin: 0px 0px 27px 0px;
	padding: 18px 13px 32px 13px;
	box-sizing: border-box;
}
aside .contacts h2{
	padding: 0 0 0 13px;
	display: block;
	overflow: hidden;
	width: 100%;
	text-transform: capitalize;
}
aside .contacts form{
	display: block;
	overflow: hidden;
	width: 100%;
}
.contacts .input{
	text-align: center;
	padding: 19px 0 0 0;
}
input[type="text"], input[type="number"], input[type="email"]{
	width: 185px;
	height: 31px;
	font-size: 14px;
	margin-bottom: 14px;
	border: 1px solid #fffcfc;
	border-radius: 3px;
	padding: 0 0 0 9px;
	background-color: #e3e4e5;
}
input::-webkit-input-placeholder{
	color: #757575;
}
select{
	display: block;
	width: 185px;
	height: 31px;
	font-size: 14px;
	margin-bottom: 14px;
	border: 1px solid #a2a2a2;
	padding: 0 0 0 11px;
	box-sizing: border-box;
	background-color: #e3e4e5;
	color: #757575;
}
input[type="submit"]{
	padding: 0 0 0 0;
	width: 180px;
	height: 40px;
	background-color: #a9212a;
	border: 5px solid #ffffff;
	font-size: 16px;
	color: #e2dede;
	&:hover{
		@include transition($time);
		@include transform($argument)
	}
}
aside .headline{
	position: relative;
	overflow: hidden;
}
aside .headline h3{
	margin: 0 0 15px 0;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
aside .headline p{
	font-size: 12px;
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	margin: 0 0 15px 0;
	color: #5c646e;
}
aside .headline a{
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	color: #95161f;
	text-decoration: underline;
}
