footer{
	overflow: hidden;
	width: 100%;
	height: 237px;
	position: relative;
	background: url(../images/bg_footer.png);
	background-repeat: repeat-x;
}
footer .layout{
	padding: 32px 167px 27px 169px;
}
footer .flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer .flex .cherry_hours{
	position: relative;
	overflow: hidden;
}
footer h3{
	font-size: 18px;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
	color: #a5adb8;
	margin: 0 0 10px 0;
	position: relative;
}
footer h3::first-letter{
	color: #ae4b5d;
}
footer h3::after{
	content: '-';
	display: block;
	height: 1px;
	margin: 10px 0 0 0;
	width: 270px;
	background-color: #191c20;
}
footer p{
	color: #85898f;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
	line-height: 2;
}
footer ul{
	position: relative;
	overflow: hidden;
}
footer .clock{
	display: flex;
}
footer img{
	width: 15px;
	height: 16px;
	margin: 5px 5px 0 0;
}
footer .flex .local_cherry{
	position: relative;
	overflow: hidden;
}
footer .flex h3{
	position: relative;
	overflow: hidden;
}
footer .flex ul{
	position: relative;
	overflow: hidden;
}
footer .flex .dott{
	position: relative;
	overflow: hidden;
}
footer .flex .dott p::before{
	content: '•';
	color: #9c4757;
	margin: 0 12px 0 0;
}
footer .flex .number{
	color: #a5adb8;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
}
