aside .headline {
  position: relative;
  overflow: hidden;
}

aside .headline h3 {
  margin: 0 0 15px 0;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

aside .headline p {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  margin: 0 0 15px 0;
  color: #5c646e;
}

aside .headline a {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #95161f;
  text-decoration: underline;
}
aside .headline a:hover{
	@include transform($argument);
	color: #2d15a6;
}
