nav{
	width: 100%;
	display: block;
	overflow: hidden;
	background-color: #95161f;
}
nav ul{
	float: right;
	overflow: hidden;
}
nav ul li{
	float: left;
	margin: 0px 20px 0px 20px;
	&:hover{
		@include transition($time);
		@include transform($argument);
		background-color: #c2303a;
	}
}
nav ul li a{
	line-height: 36px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
  font-family: 'Arial', sans-serif;
}
