.table {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 0;
 }
 .table h3{
 	font-size: 24px;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	color: #a5adb8;
	margin: 0 0 20px 0;
}
#content .table h3::first-letter{
	color: #ae4b5d;
 }
 .table ul{
  display: block;
  overflow: hidden;
  width: 100%;
}
.table li{
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: #282d33;
  border-bottom: 1px solid #fff;
 }
.table li div{
  float: left;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 13px;
  box-sizing: border-box;
  border-right: 1px solid #fff;
 }
 .table li div p{
  color: #a5adb8;
  font-size: 12px;
 }
.table li div a{
  color: #d08b98;
  text-decoration: underline;
 }
 .table li div a:hover{
 	color: #2d15a6;
 	text-decoration: underline;
 }
 .table li:first-child{
  border-radius: 4px 4px 0 0;
  background-color: #9c4757;
}
.table li:last-child{
  border-radius:0 0 4px 4px;
  border-bottom: none;
 }
.table li:first-child div{
  padding: 0 0 0 0;
  text-align: center;
 }
 .table li:first-child div p{
  font-weight: bold;
  color: #fefeff;
}
.table li div:first-child{
  width: 46px;
}
.table li div:nth-child(2){
  width: 126px;
}
.table li div:nth-child(3){
  width: 206px;
 }
 .table li div:nth-child(4){
  width: 186px;
}
.table li div:last-child{
  width: 100px;
  border-right: none;
}
