#content .what_we_do{
	position: relative;
	overflow: hidden;
}
#content .what_we_do h2{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	color: #a5adb8;
}
#content .what_we_do h2::first-letter{
	color: #ae4b5d;
}
#content .what_we_do p{
	line-height: 1;
	font-size: 14px;
	margin: 20px 0 0 0;
	font-family: 'Arial', sans-serif;
	color: #5c646e;
	line-height: 1.5;
}
#content .what_we_do a{
	color: #95161f;
	text-decoration: underline;
}
#content .what_we_do a:hover{
	color: #2d15a6;
	text-decoration: underline;
}
#content .what_we_do ul{
	position: relative;
	overflow: hidden;
}
#content .what_we_do li{
	display: inline-block;
	margin: 18px 0 0 0;
}
#content .what_we_do h3{
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #282d33;
	margin: 0 0 12px 0;
}
#content .what_we_do .img-box{
	position: relative;
	overflow: hidden;
	&:hover{
		@include transition($time);
		@include transform($argument)
	}
}
#content .what_we_do a{
	position: relative;
	overflow: hidden;
}
#content .what_we_do img{
	position: relative;
	overflow: hidden;
}
