.eaten{
	width: 100%;
	height: 240px;
	display: block;
	overflow: hidden;
	position: relative;
}
.eaten img{
	width: 100%;
	height: 240px;
	display: block;
	position: relative;
	z-index: 1;
}
.eaten .description{
	width: 100%;
	height: 240px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 44px 0px 0px 40px;
	box-sizing: border-box;
	z-index: 2;
}
.eaten .description h1{
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #a5adb8;
	margin: 0px 0px 8px 0px;
}
.eaten .description h1::first-letter{
	color: #ae4b5d;
}
.eaten .description .black{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #363a40;
	margin: 0px 0px 18px 0px;
}
.eaten .description h2{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #a5adb8;
	margin: 0px 0px 9px 0px;
}
.eaten .description p{
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #d9dcdf;
}